@font-face {
  font-family: "iconfont"; /* Project id 2689687 */
  src: url('iconfont.woff2?t=1627270196427') format('woff2'),
       url('iconfont.woff?t=1627270196427') format('woff'),
       url('iconfont.ttf?t=1627270196427') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu1:before {
  content: "\e8b6";
}

.icon-icon-test:before {
  content: "\e61e";
}

.icon-laba:before {
  content: "\e62d";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-icon-arrow-bottom2:before {
  content: "\e666";
}

.icon-collection:before {
  content: "\e6ae";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a2";
}

.icon-1_music82:before {
  content: "\e6a9";
}

.icon-1_music83:before {
  content: "\e6ac";
}

.icon-play-circle:before {
  content: "\e781";
}

.icon-timeout:before {
  content: "\e783";
}

.icon-unorderedlist:before {
  content: "\e7f4";
}

.icon-shangyiye:before {
  content: "\e674";
}

.icon-bofang:before {
  content: "\e626";
}

.icon-icon-:before {
  content: "\e614";
}

.icon-gengduo1:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e67d";
}

